
*.db
.vs/Try_2D_ICP_OpenCV3/v15/.suo
.vs/Try_2D_ICP_OpenCV3/v15/Browse.VC.opendb
.vs/Try_2D_ICP_OpenCV3/v15/ipch/41d0612c2cff0bec.ipch
.vs/Try_2D_ICP_OpenCV3/v15/ipch/9913cb53fda689a.ipch
stdafx.cpp
stdafx.h
targetver.h
Try_2D_ICP_OpenCV3.sln
Try_2D_ICP_OpenCV3.vcxproj
Try_2D_ICP_OpenCV3.vcxproj.filters
OpenCV3_X64.props
knife1.bmp
knife2.bmp
*.pdb
*.idb
*.pch
*.tlog
*.obj
*.log
*.ilk
*.exe
ref_points.txt
